@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

html, body {
    padding: 0;
    margin: 0;
}

@media(max-width: $tablet) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
    #game {
        justify-content: center;
        flex-grow: 2;
    }
    .wordlist-container {
        display: none;
    }
}

.main-container {
    display: flex;
    flex: 1;
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
    height: -webkit-fill-available;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.wordlist-container {
    overflow: scroll;
}

#board table {
    width: 100%;
}

#arrow-overlay {
    position: absolute;
    pointer-events: none;
}

.letter div {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.letter a {
    background-color: $white;
    border-radius: 50%;
    border: 0.1875em solid $text;
    box-shadow: 0.375em 0.375em 0 0 $grey-lighter;
    color: $text;
    font-size: xx-large;
    height: 2em;
    text-align: center;
    text-transform: uppercase;
    transition: all .1s;
    vertical-align: center;
    width: 2em;
}

.letter.selected a {
    background-color: $white;
    border: 0.187em solid adjust-color($color: $text, $lightness: -10%);
    box-shadow: 0 0 0 0 $grey-lighter;
    color: adjust-color($color: $primary, $lightness: -0%);
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: 10px;
}

.letter.highlighted a {
    color: $text;
    background-color: adjust-color($color: $primary, $lightness: -0%, $alpha: -0);
}

#current-word {
    min-height: 3rem;
}

.menu-list {
    list-style: none;
}